* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    height: 100px;
    margin-top: 16px;
    padding: 16px;
    background-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .title {
    color: rgb(5, 67, 117);
    font-weight: 500;
}

.header p {
    font-size: 1.5rem;
    margin-right: 4rem;
    display: flex;
}

.header p .in-cart {
    width: 2rem;
    height: 2rem;
    display: block;
    background-color: red;
    color: rgb(5, 67, 117);
    text-align: center;
    margin-left: 12px;
    border-radius: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.product-wrapper {
    background-color: #e0e0e0;
    padding: 16px;
    border-radius: 8px;
}

.text {
    font-size: 1.5rem;
    font-weight: 400;
    color:rgb(5, 67, 117);
    margin-bottom: 16px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.product p {
    color: #444;
    transition: 0.26s linear;
}

.product .product-name {
    font-size: 1.25rem;
}

.product .add-to-cart {
    max-width: 150px;
    padding: 4px 0;
    width: 100%;
    border: 2px solid #444;
    border-radius: 999px;
    text-align: center;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.36s linear;
}

.product .price:hover,
.product .add-to-cart:hover p {
    color: tomato;
}

.product .add-to-cart:hover {
    background-color: rgb(23, 154, 163);
}

.bill .text {
    margin-bottom: 8px;
}

.list-items {
    border-bottom: 2px solid #868686;
}

.product-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-top: 12px;
}

.product-item .product-name {
    max-width: 150px;
    width: 100%;
}

.product-item:last-child {
    margin-bottom: 16px;
}

.product-item > div {
    margin-left: 50px;
}

.product-item .number {
    margin-left: 100px;
}

.btn {
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn + .btn {
    margin-left: 8px;
}

.btn-plus {
    background-color: #40c0f0;
}

.btn-minus {
    background-color: #f04040;
}

.total-bill {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.total-bill > div > p:last-child {
    font-weight: 500;
}



